<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioPersona" />
        <binding name="BasicHttpBinding_IOfertaLaboralService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55953/ServicioPersona.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioPersona"
        contract="ProxyPersona.IServicioPersona" name="BasicHttpBinding_IServicioPersona" />
      <endpoint address="http://localhost:55953/OfertaLaboralService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOfertaLaboralService"
        contract="WSOfertaLaboralService.IOfertaLaboralService" name="BasicHttpBinding_IOfertaLaboralService" />
    </client>
  </system.serviceModel>
</configuration>